@media screen and (max-width: 768px) {

    /*blog mobile css*/
    .content_container {
	margin-bottom: 58px !important;
    }
    
    .blog_header {
	max-width: 100% !important;
	height: 50px !important;
	margin-top: 0 !important;
    }

    .blog_header_img {
	max-width: 100% !important;
	height: 100% !important;
    }
    
    .sidebar_container {
	display: none !important;
    }

    .blog_content, .post_container {
	width: 100% !important;
    }

    .preview_img, .preview_content {
	width: calc(100% - 10px) !important;
    }

    .preview_footer_container > span, .post_info > span {
	display: block !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 8px !important;
    }

    .read_more {
	float: none !important;
    }

    .post_title {
	font-size: 24px !important;
    }
    
    .post_container {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	font-size: 14px !important;
    }
    

    /*bma site css*/
    
    header > h1 {
	font-size: 18px !important;
    }

    header {
	padding-bottom: .9em !important;
    }
    
    h2, h3, .blockBMA, .blockBMA > h2, .blockBMA > h3{
	font-size: 14px !important;
    }

    .blockBMA-5 {
	display: none !important;
    }
    
    .blockBMA > img, {
	min-height: 40px !important;
	height: 60px !important;
    }

.blockBMA > h4 > img {
	min-width: 65% !important;
	float: none !important;
	display: block !important;
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* width: 50%; */
	width: 80%;
        height: auto !important;
    }

    .blockFloat, .blockMember {
	float: none !important;
	display: block !important;
	width: 80% !important;
    }

    .blockMember > div > p, li > p {
	font-size: 14px !important;
    }

    .blockMember > div > img {
	width: 40% !important;
	height: 40% !important;
    }

    /*Contact Form CSS*/
    #contactFormContainer {
	width: 80% !important;
	margin-top: 0 !important;
    }
    .contactInput {
	width: 100% !important;
    }


    
    

    /*Don't show normal nav, footer, and copyright on phones*/    
    .nav_container, .nav_sub_container, .nav_bottom, .footer-container-allBMA, .copyrightBMA {
	display: none !important;
    }
    
    #mobile_nav_outer_container {
	display: block !important;
	position: fixed !important;
	width: 100% !important;
	height: 50px !important;
	line-height: 50px !important;
	border-top: 1px solid #316bad !important;
	background-color: #ccc !important;
	text-align: center !important;
    }
    
    .nav_bottom {
	top: 150px !important;
    }

    iframe {
	border: none !important;
	margin-bottom: 5px !important;
	width: 100% !important;
	height: 100% !important;
    }
}


@media screen and (max-width: 700px) {
    /*Pricing Tool CSS*/
    .aerolyze-calculator {
	max-width: 100%;
	min-width: 0;
	font-size: 10px;
    }

    .calculator-row {
	margin-bottom: 10px;
    }
    
    .calculator-left {
	width: 50%;
    }
    
    .calculator-input {
	width: 25%;
    }

    .calculator-right {
	width: 25%;
    }

    .calculator-header {
	font-size: 12px !important;
    }
}

.mobile_nav_outer_container > a {
    height: 50px;
}

.mobile_button_container {
    margin: auto;
}

.icon_button_container {
    display: inline-block;
    text-align: center;
}

.mobile_nav_row {
    background-color: #ccc;
    width: 100%;
    height: 50px;
    padding-top: 5px;
}

.icon_button_container {
    width: 25%;
    line-height: normal;
}
.icon_button_container > span {
    font-size: 14px;
}

#mobile_nav_outer_container {
    display: none;
}













